<div id="side_bar">
  <div class="inner_bar">
      <div class="elements_bar"><a href="/management-app/traps" class="font_elements_bar">ホーム</a></div>
      <div class="elements_bar"><a href="/management-app/hanternote" class="font_elements_bar">ハンターノート</a></div>
      <div class="elements_bar"><a href="/management-app/users/edit" class="font_elements_bar">アカウント</a></div>
    </div>
</div>