<div id="side_bar">
  <div class="inner_bar">
      <div class="elements_bar"><a href="/traps" class="font_elements_bar">ホーム</a></div>
      <div class="elements_bar"><a href="/hanternote" class="font_elements_bar">ハンターノート</a></div>
      <div class="elements_bar"><a href="/users/edit" class="font_elements_bar">アカウント</a></div>
    </div>
</div>
<!--
<div id="side_bar">
  <div class="inner_bar">
    <% if (val == 1) { %>
      <div class="elements_bar active_element"><a href="/traps" class="font_elements_bar">ホーム</a></div>
      <div class="elements_bar"><a href="/hanternote" class="font_elements_bar">ハンターノート</a></div>
      <div class="elements_bar"><a href="/users/edit" class="font_elements_bar">アカウント</a></div>
    <% } else if (val == 2) { %>
      <div class="elements_bar"><a href="/traps" class="font_elements_bar">ホーム</a></div>
      <div class="elements_bar active_element"><a href="/hanternote" class="font_elements_bar">ハンターノート</a></div>
      <div class="elements_bar"><a href="/users/edit" class="font_elements_bar">アカウント</a></div>
    <% } else if (val == 2) { %>
      <div class="elements_bar"><a href="/traps" class="font_elements_bar">ホーム</a></div>
      <div class="elements_bar"><a href="/hanternote" class="font_elements_bar">ハンターノート</a></div>
      <div class="elements_bar active_element"><a href="/users/edit" class="font_elements_bar">アカウント</a></div>   
    <% } %>
    </div>
</div>
-->