<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title>アカウントの作成</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body>
  <div class="login_form">
    <h1>アカウントの作成</h1>
    <div class="form_contents">
        <form method="post" action="/users/add">
            <div class="inner_form">
                <div  class="form_elements">
                    <div class="mb-3">
                        <label for="mail_address" class="form-label"><p class="form_font">メールアドレス</p></label>
                        <input type="email" class="form-control" name="mail_address" id="mail_address">
                    </div>
                </div>
                <div  class="form_elements">
                    <div class="mb-3">
                        <label for="password" class="form-label" class="form_font"><p class="form_font">パスワード</p></label>
                        <input type="text" class="form-control" name="password" id="password">
                    </div>
                </div>
            </div>
            <div class="form_message"><p class="form_message_font"><%- content %></p></div>
          <div class="form_btn d-grid gap-2"><input type="submit" value="アカウントを作成" class="btn btn-primary"></div>
        </form>
    </div>
    <a href="/users/login" class="login_btn_font">
      <div class="form_btn d-grid gap-2">
        <button class="btn btn-outline-secondary" type="button">ログイン画面に戻る</button>
      </div>
    </a>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>