<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body class="container">
  <header>
    <h1 class="display-4">
      <%= title %></h1>
  </header>
  <div role="main">
    <p><%- content %></p>
    <p>現在のメールアドレス</p>
    <p><%- old_mailaddress %></p>
    <form method="post" action="/users/login">
        
        <div class="mb-3">
            <label for="newmailaddress" class="form-label">新しいメールアドレス</label>
            <input type="email" class="form-control" name="newmailaddress" id="newmailaddress" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="newpassword" class="form-label">新しいパスワード</label>
            <input type="text" class="form-control" name="newpassword" id="newpassword">
        </div>
        <input type="submit" value="変更" 
        class="btn btn-primary">
    </form>
    <p class="mt-4"><a href="/traps/">ホームへ&gt;&gt;</a></p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>